[submodule "submodules/coolguy"]
	path = submodules/coolguy
	url = https://gitlab.com/zachmandeville/coolguy.git
[submodule "submodules/jordancrane/blog"]
	path = submodules/jordancrane/blog
	url = https://github.com/jordancrane/blog.git
	branch = gh-pages
[submodule "submodules/sircmpwn/drewdevault.com"]
	path = submodules/sircmpwn/drewdevault.com
	url = https://github.com/christianbundy/drewdevault.com.git
	branch = public
